# Fire-Proof Tumblers

---

## Combining & Cleaning CSV and Reviews

In [1]:
# Dependencies and Set Up
import pandas as pd

### Google Trends Between Stanley, Yeti & Hydroflask

In [2]:
# Load CSV file into Pandas DataFrame
time_df = pd.read_csv("../Resources/multiTimeline.csv")

# Display sample data
time_df.head()

                                                                              Category: All categories
Week       yeti tumbler: (United States) stanley tumbler: (United States)  hydroflask: (United States)
2019-09-15 6                             0                                                          38
2019-09-22 6                             0                                                          36
2019-09-29 6                             0                                                          33
2019-10-06 6                             0                                                          32

In [8]:
# Calculate the average number of searches by interest for Yeti
time_df["yeti tumbler: (United States)"].mean()

KeyError: 'yeti tumbler: (United States)'

In [ ]:
# Load CSV file into Pandas DataFrame
map_df = pd.read_csv("../Resources/geoMap.csv")

# Display sample data
map_df.head()

### Reviews Between Cream, Pink, and Black Stanley Tumblers