# Fire-Proof Tumblers

---

## Combining & Cleaning CSV and Reviews

In [1]:
# Dependencies and Set Up
import pandas as pd

### Google Trends Between Stanley, Yeti & Hydroflask

In [2]:
# Load CSV file into Pandas DataFrame
time_df = pd.read_csv("../Resources/multiTimeline_clean.csv")

# Display sample data
time_df.head()

,Week,yeti tumbler: (United States),stanley tumbler: (United States),hydroflask: (United States)
0,2019-09-15,6,0,38
1,2019-09-22,6,0,36
2,2019-09-29,6,0,33
3,2019-10-06,6,0,32
4,2019-10-13,6,0,28

In [6]:
# Replace <1 amounts in Stanley row
time_df = time_df.replace('<1', 0)
time_df.head()

,Week,yeti tumbler: (United States),stanley tumbler: (United States),hydroflask: (United States)
0,2019-09-15,6,0,38
1,2019-09-22,6,0,36
2,2019-09-29,6,0,33
3,2019-10-06,6,0,32
4,2019-10-13,6,0,28

In [7]:
# Calculate the average number of searches by interest for Yeti
time_df["yeti tumbler: (United States)"].mean()

7.530534351145038

In [8]:
# Calculate the average number of searches by interest for Stanley
time_df["stanley tumbler: (United States)"].mean()

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Load CSV file into Pandas DataFrame
map_df = pd.read_csv("../Resources/geoMap_clean.csv")

# Display sample data
map_df.head()

### Reviews Between Cream, Pink, and Black Stanley Tumblers